.content {
  width: 80%;
  float: right;
  text-align: center;
  padding: 60px 0;
}
.sidebar {
  height: 100%;
  width: 20%;
  background-color: #c2bdbd;
  float: left;
  display: inline;
}
.fullcontainer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.viewOne{
 background-color: green;
 width: 100%;
 height: 500px;
}
.viewTwo{
 background-color: greenyellow;
 width: 100%;
 height: 500px;

}
.home{
  background-color: lightcoral;
  height: 100%;
}
#message{
  color: #000;
  background-color: aliceblue;
  height: 300px;
  width: 400px;

}